#languagesWrapper {
	float : right;
}

#typesList > div.type > div.infos > label.code {
	font-size   : 1.7em;
	font-weight : bold;
	float       : left;
	line-height : 50px;
	cursor      : pointer;
}

#typesList > div.type > div.infos > label.name {
	float       : left;
	font-style  : italic;
	margin-left : 10px;
	line-height : 50px;
	cursor      : pointer;
}

#storesList > div.store > div.infos > label.ref {
	font-size   : 1.7em;
	font-weight : bold;
	float       : left;
	line-height : 50px;
	cursor      : pointer;
}

#storesList > div.store > div.infos > label.name {
	float       : left;
	font-style  : italic;
	margin-left : 10px;
	line-height : 50px;
	cursor      : pointer;
}

div.modelsList > div.model > div.infos {
	height           : 40px;
	background-color : white;
}

div.modelsList > div.model > div.infos > label.code {
	font-size   : 1.5em;
	font-weight : bold;
	float       : left;
	line-height : 40px;
}

div.modelsList > div.model > div.infos > label.name {
	float       : left;
	font-style  : italic;
	margin-left : 10px;
	line-height : 40px;
}

div.modelsList > div.model > div.details > label.description {
	float       : left;
}

input.btnEdit {
	float      : left;
	background : url('../img/icon-edit.png') no-repeat;
	width      : 16px;
	height     : 16px;
	padding    : 0px;
	border     : 0px;
}

input.txtEdit {
	float      : left;
	font-size  : 1em;
	text-align : left;
	margin     : 6px 10px;
}

div.infos > input.btnEdit {
	margin : 17px 5px;
}

div.infos > input.txtEdit {
	margin : 8px 5px;
}

div.model > div.infos > input.btnEdit {
	margin : 12px 5px;
}

div.model > div.infos > input.txtEdit {
	margin : 4px 5px;
}

div.model > div.details > input.txtEdit {
	margin : 4px 5px;
}