#languagesWrapper {
	float : right;
}

#typesList > div.type > div.infos > label.code {
	font-size   : 1.7em;
	font-weight : bold;
	line-height : 50px;
	float       : left;
}

#typesList > div.type > div.infos > label.name {
	line-height : 50px;
	float       : left;
	font-style  : italic;
	margin-left : 10px;
}

#storesList > div.store > div.infos > label.ref {
	font-size   : 1.7em;
	font-weight : bold;
	line-height : 50px;
	float       : left;
}

#storesList > div.store > div.infos > label.name {
	line-height : 50px;
	float       : left;
	font-style  : italic;
	margin-left : 10px;
}