body {
	font-family : "Arial", sans-serif;
}

div, p, ul, label, textarea, select, input {
	overflow : hidden; /* Clearfix */
	margin   : 0px;
}

input,
textarea,
select {
	font-size   : 1.2em;
	line-height : 20px;
	padding     : 6px;
	font-family : "Arial", sans-serif;
}

label.error,
span.error {
	color : red;
}

input.error,
select.error,
textarea.error {
	border : 2px solid red;
}

a.button,
input[type=button],
input[type=submit] {
	cursor : pointer;
}

.hidden {
	display : none;
}

span.highlight {
	background-color : yellow;
}

input.watermark {
	color      : gray;
	font-style : italic;
}