input,
textarea,
select {
	text-align  : center;
	font-size   : 1.2em;
	line-height : 20px;
	padding     : 6px;
	margin      : 0px 5px;
}

label.error,
span.error {
	color : red;
}

input.error,
select.error,
textarea.error {
	border : 2px solid red;
}

a.button,
input[type=button],
input[type=submit] {
	cursor : pointer;
}

.hidden {
	display : none;
}

span.highlight {
	background-color : yellow;
}