h1 {
	margin : 20px 50px;
}

#summary {
	margin : 10px 50px;
}

fieldset {
	padding : 5px 10px 10px 10px;
	margin  : 15px 50px 30px 50px;
	border  : 1px solid #484848;
}

fieldset > legend {
	font-size   : 1.4em;
	font-weight : bold;
	padding     : 0px 10px;
}

fieldset p {
	margin : 5px 50px;
}

fieldset label {
	display     : block;
	font-weight : bold;
	margin      : 5px 0px 5px 5px;
	font-size   : 1.1em;
}

fieldset input,
fieldset textarea,
fieldset select {
	margin    : 5px 0px 5px 5px;
	font-size : 1em;
}

div.left,
div.right {
	float : left;
	width : 50%;
}

div.left p {
	float : left;
	clear : left;
}

div.right p {
	float : right;
	clear : right;
}

#greetingsList {
	width : 80px;
}

#txtFirstname {
	width : 250px;
}

#txtLastname {
	width : 384px;
}

#txtStreet {
	height : 123px;
	resize : none;
}

#txtStreet,
#txtCity,
#txtZipCode,
#statesList,
#countriesList,
#txtEmail,
#txtConfirmation,
#txtPhone {
	width : 330px;
}

#buttons {
	margin : 0px 50px 30px 50px;
}

#btnCancel {
	float : left;
	width : 150px;
}

#btnSubmit {
	float : right;
	width : 150px;
}

#btnClear {
	display         : inline-block;
	float           : right;
	float           : right;
	font-size       : 1.2em;
	text-decoration : underline;
	line-height     : 39px;
	margin          : 0px 20px;
}

